<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500&display=swap" rel="stylesheet">
    <title>REAL REVIEW</title>
</head>


    <!-- navbar -->
<div class="navbar">
    <p class="start">REVIEWGO</p>
    <div>
    <button class="end">LOGIN</button>

    <button class="end">SIGNUP</button>
    </div>

</div>
<!-- images -->

<div class="part1">
    <img src="../static/images/One Step Solution for verified Hospital reviews..png" alt="" class="text-img">
    

    <div class="doc_photos">
          <img src="../static/images/trafalgar-illustration sec03 1.png" alt="" class="doctor">
    </div>
</div>
<p class="p1">Using AI where we verify whether the review is
    genuine  <br>or fake</p>
    <!-- main cities -->    
    <!-- 
        <div class="images">
        <h1 class="heading">PICK YOUR CITY</h1>
        <ul class="slides">
          <li>
            <div >
              <div >
                <img
                  src="//in.bmscdn.com/m6/images/common-modules/regions/mumbai-selected.png"
                  alt="MUMBAI"
                  class="sc-eitiEO fbHqdd"
                />
              </div>
              <span>Mumbai</span>
            </div>
          </li>
          <li>
            <div >
              <div >
                <img
                  src="//in.bmscdn.com/m6/images/common-modules/regions/ncr.png"
                  alt="NCR"
                  class="sc-eitiEO fbHqdd"
                />
              </div>
              <span>Delhi-NCR</span>
            </div>
          </li>
          <li>
            <div >
              <div >
                <img
                  src="//in.bmscdn.com/m6/images/common-modules/regions/bang.png"
                  alt="BANG"
                  class="sc-eitiEO fbHqdd"
                />
              </div>
              <span>Bengaluru</span>
            </div>
          </li>
          <li>
            <div >
              <div >
                <img
                  src="//in.bmscdn.com/m6/images/common-modules/regions/hyd.png"
                  alt="HYD"
                  class="sc-eitiEO fbHqdd"
                />
              </div>
              <span>Hyderabad</span>
            </div>
          </li>
          <li>
            <div >
              <div >
                <img
                  src="//in.bmscdn.com/m6/images/common-modules/regions/ahd.png"
                  alt="AHD"
                  class="sc-eitiEO fbHqdd"
                />
              </div>
              <span>Ahmedabad</span>
            </div>
          </li>
          <li>
            <div >
              <div >
                <img
                  src="//in.bmscdn.com/m6/images/common-modules/regions/chd.png"
                  alt="CHD"
                  class="sc-eitiEO fbHqdd"
                />
              </div>
              <span>Chandigarh</span>
            </div>
          </li>
          <li>
            <div >
              <div >
                <img
                  src="//in.bmscdn.com/m6/images/common-modules/regions/chen.png"
                  alt="CHEN"
                  class="sc-eitiEO fbHqdd"
                />
              </div>
              <span>Chennai</span>
            </div>
          </li>
          <li>
            <div >
              <div >
                <img
                  src="//in.bmscdn.com/m6/images/common-modules/regions/pune.png"
                  alt="PUNE"
                  class="sc-eitiEO fbHqdd"
                />
              </div>
              <span>Pune</span>
            </div>
          </li>
          <li>
            <div >
              <div >
                <img
                  src="//in.bmscdn.com/m6/images/common-modules/regions/kolk.png"
                  alt="KOLK"
                  class="sc-eitiEO fbHqdd"
                />
              </div>
              <span>Kolkata</span>
            </div>
          </li>
          <li>
            <div >
              <div >
                <img
                  src="//in.bmscdn.com/m6/images/common-modules/regions/koch.png"
                  alt="KOCH"
                  class="sc-eitiEO fbHqdd"
                />
              </div>
              <span>Kochi</span>
            </div>
          </li>
        </ul>
      </div>
      
    
    </div> 
-->

<!-- search area -->
<form action="" class="searchform">
  <input type="text" placeholder="Search your hospital" name="search" class="all">
   <button type="submit" class="searchbar"><img src="../static/images/search-bar.svg" alt="" class="buttonimage"></button>
</form>
    <!-- cards -->

    <div class="card">
        <div class="card1">
            <img src="../static/images/kisspng-physician-diabetes-mellitus-computer-disease-preve-doctor-and-computer-5a99b82dcadc58 1.png" alt="img1" class="card_img">
            <div>
                <p>ABC HOSPIAL</p>
                <p>A</p>
            </div>
        </div>
        <div class="card2">
            <img src="../static/images/kisspng-physician-diabetes-mellitus-computer-disease-preve-doctor-and-computer-5a99b82dcadc58 1.png" alt="img1" class="card_img" >
            <div>
                <p>ABC HOSPIAL</p>
                <p>A</p>
            </div>
        </div>
        <div class="card3">
            <img src="../static/images/kisspng-physician-diabetes-mellitus-computer-disease-preve-doctor-and-computer-5a99b82dcadc58 1.png" alt="img1" class="card_img">
            <div>
                <p>ABC HOSPIAL</p>
                <p>A</p>
            </div>
        </div>
        <div class="card4">
            <img src="../static/images/kisspng-physician-diabetes-mellitus-computer-disease-preve-doctor-and-computer-5a99b82dcadc58 1.png" alt="img1" class="card_img">
            <div>
                <h3>HOSPITAL NAME</h3>
                <p>25 v</p>
            </div>
        </div>
    </div>

    
</body>
</html>