<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style2.css">
</head>

<body>
    <!-- navbar -->
    <div class="navbar">
        <p class="start">REVIEWGO</p>
        <div>
            <button class="end">LOGIN</button>

            <button class="end">SIGNUP</button>
        </div>

    </div>

    <!-- cointainer -->
    <div class="container">
        <div class="container1">
            <div class="bt">
                <form action="" method="POST">
                    <!-- <button class="bt2"><img src="../static/images/Arrow.png" alt="" class="arr"><span
                            class="back">Back</span></button> -->
                    <button class="bt3"><img src="../static/images/hamburger.png" alt="" class="arr"> <span
                            class="revi">Add
                            Review</span></button></form>
            </div>

            <div class="hospital_img">
                <img src="../static/images/hospitalImage.png" alt="" class="hospitalimg">
            </div>
            <div class="hosteldetails">
                <div class="heading">
                    <h4>{{hospitalName}}</h4>
                    <h4>⭐{{avgRating}}</h4>
                    <!-- <img src="../static/images/Group 237464.svg" alt="" class="star"> -->
                </div>
                <div class="info">
                    <p><img src="../static/images/location.png" alt="" class="a">{{cityName}}</p>
                    <p><img src="../static/images/specialtype.png" alt="" class="a">{{speciality}}</p>
                </div>
            </div>
        </div>
        <div class="container2">
            <div class="c2a">
                <!-- <div class="review"><img src="../static/images/avg.png" alt="" class="c"> -->
                <div class="review">
                    <div class="rating">{{avgRating}}</div>
                    <p>AVERAGE RATING<br>
                        <p>{{reviewList.split('||')|length}} verified review</p>
                </div>
                <div class="dataset">
                    <p>World Cloud</p>
                    <img src="../static/images/wordcloud.png" alt="" class="cloud">
                </div>
            </div>

            <div class="cont_c2b">
                <script>
                    // perform this when page loads
                    window.onload = function () {
                        var reviewList = "{{reviewList}}".split("||");
                        var ratingList = "{{ratingList}}".split("||");
                        var dateList = "{{dateList}}".split("||");
                        var confidenceList = "{{confidenceList}}".split("||");
                        // get container2
                        var container2 = document.getElementsByClassName("container2")[0];
                        // loop through all reviews
                        for (var i = 0; i < reviewList.length; i++) {
                            // create div
                            var div = document.createElement("div");
                            // add class
                            div.classList.add("c2b");
                            // add star ratings using ratingList
                            var rating = document.createElement("div");
                            // rating.classList.add("rating");
                            for (var j = 0; j < ratingList[i]; j++) {
                                var img = document.createElement("img");
                                img.src = "../static/images/star-rating.png";
                                img.alt = "";
                                // img.classList.add("star");
                                rating.appendChild(img);
                            }
                            div.appendChild(rating);
                            // create p
                            var c = document.createElement("c");
                            // add text
                            c.innerText = 'Confidence: ' + confidenceList[i];
                            // create p
                            var p = document.createElement("p");
                            // add text
                            p.innerText = reviewList[i];
                            // create p
                            var p2 = document.createElement("p");
                            // add text
                            p2.innerText = dateList[i];
                            // append img, p, p2 to div
                            // div.appendChild(img);

                            div.appendChild(c);
                            div.appendChild(p);
                            div.appendChild(p2);
                            // append div to container2
                            container2.appendChild(div);
                        }
                    }
                </script>
            </div>


        </div>
    </div>
</body>

</html>