<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style2.css">
</head>

<body>
    <!-- navbar -->
    <div class="navbar">
        <p class="start">REVIEWGO</p>
        <div>
            <button class="end">LOGIN</button>

            <button class="end">SIGNUP</button>
        </div>

    </div>

    <!-- cointainer -->
    <div class="container">
        <div class="container1">
            <div class="bt">
                <form action="" method="POST">
                    <!-- <button class="bt2"><img src="../static/images/Arrow.png" alt="" class="arr"><span
                            class="back">Back</span></button> -->
                    <button class="bt3"><img src="../static/images/hamburger.png" alt="" class="arr"> <span
                            class="revi">Add
                            Review</span></button></form>
            </div>

            <div class="hospital_img">
                <img src="../static/images/hospitalImage.png" alt="" class="hospitalimg">
            </div>
            <div class="hosteldetails">
                <div class="heading">
                    <h4>{{hospitalName}}</h4>
                    <img src="../static/images/Group 237464.svg" alt="" class="star">
                </div>
                <div class="info">
                    <p><img src="../static/images/location.png" alt="" class="a">{{cityName}}</p>
                    <p><img src="../static/images/specialtype.png" alt="" class="a">{{speciality}}</p>
                </div>
            </div>
        </div>
        <div class="container2">
            <div class="c2a">
                <div class="review"><img src="../static/images/avg.png" alt="" class="c">
                    <p>AVERAGE RATING<br>
                        <p>25 verified review</p>
                </div>
                <div class="dataset">
                    <p>World Cloud</p>
                    <img src="../static/images/wordcloud1.png" alt="" class="cloud">
                </div>
            </div>
            <!-- <div class="c2b">
                <img src="../static/images/star-rating.png" alt="" class="ratig">
                <p>{{reviewList}}</p>
                <p>25.06.22</p>
            </div>
            <div class="c2c">
                <img src="../static/images/star-rating.png" alt="" class="ratig">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quisquam minus perspiciatis labore
                    repellat at amet, doloremque natus, aliquam error distinctio nobis! Sint, ipsa quae sapiente earum
                    ex quo eveniet?</p>
                <p>25.06.22</p>
            </div> -->
            <div class="c2b">
                <img src="../static/images/star-rating.png" alt="" class="ratig">
                <p>{{reviewList}}</p>
                <p>25.06.22</p>
            </div>

            <!-- get all reviews by splitting reviewList using \n -->

            <!-- {% for review in reviewList.split("%3A") %}
            <div class="c2b">
                <img src="../static/images/star-rating.png" alt="" class="ratig">
                <p>{{review}}</p>
                <p>25.06.22</p>
            </div>
            {% endfor %} -->
            <!-- <button class="clic">Show More</button> -->

            <!-- <script>
                // perform this when page loads
                window.onload = function () {
                    // get all reviews by splitting reviewList using \n
                    var reviewList = "{{reviewList}}".split("\n");
                    // get container2
                    var container2 = document.getElementsByClassName("container2")[0];
                    // loop through all reviews
                    for (var i = 0; i < reviewList.length; i++) {
                        // create div
                        var div = document.createElement("div");
                        // add class
                        div.classList.add("c2b");
                        // create img
                        var img = document.createElement("img");
                        // add src
                        img.src = "../static/images/star-rating.png";
                        // add class
                        img.classList.add("ratig");
                        // create p
                        var p = document.createElement("p");
                        // add text
                        p.innerText = reviewList[i];
                        // create p
                        var p2 = document.createElement("p");
                        // add text
                        p2.innerText = "25.06.22";
                        // append img, p, p2 to div
                        div.appendChild(img);
                        div.appendChild(p);
                        div.appendChild(p2);
                        // append div to container2
                        container2.appendChild(div);
                    }
                }
            </script> -->


        </div>
    </div>
</body>

</html>