<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style2.css" >
</head>
<body>
    <!-- navbar -->
    <div class="navbar">
        <p class="start">REVIEWGO</p>
        <div>
            <button class="end">LOGIN</button>
    
            <button class="end">SIGNUP</button>
        </div>
    
    </div>

    <!-- cointainer -->
    <div class="container">
        <div class="container1">
            <div class="bt">
                <button class="bt2"><img src="../static/images/Arrow.png" alt="" class="arr"><span class="back">Back</span></button>
                <button class="bt3"><img src="../static/images/hamburger.png" alt="" class="arr"> <span class="review">Add Review</span></button>
            </div>

            <div class="hospital_img">
                     <img src="../static/images/hospitalImage.png" alt="" class="hospitalimg">
            </div>
            <div class="hosteldetails"> 
                <div class="heading">
                <h4>HOSPITAL NAME</h4>
                 <img src="../static/images/Group 237464.svg" alt="" class="star">
                </div>
                <div class="info">
                    <p><img src="../static/images/location.png" alt="" class="a"> Area nearby</p>
                    <p><img src="../static/images/specialtype.png" alt="" class="a">Speciality type</p>
                </div>
            </div>
        </div>
        <div class=""container2>
            <div>

            </div>
        </div>
    </div>
</body>
</html>