<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospitalify.US</title>
    <link rel="stylesheet" href="../static/css/txnsucess.css">
</head>

<body>
    <div class="navbar">
        <p class="start"><img src="../static/images/logo.svg" alt="" class="logo"></p>

    </div>

    <div class="main_container">
        <img src="../static/images/txnfailed.png" alt="" class="final">
        <h2>Verification Unsuccessful</h2>
        <p class="al">Your Algorand Transaction Failed!</p>
        <a href="https://testnet.algoexplorer.io/tx/{{txnid}}">
            <p class="al">You can verify the transaction here</p>
        </a>


        <br>

        <!-- <p>Go <a href="">Back to Hospital Page </a> or <a href="">Home Page</a></p> -->
    </div>

</body>

</html>